.newProjectBtn {
    color: rgb(67, 253, 16);
    margin: 0 2rem;
    padding-top: 1.5rem;
    font-size: 1.5rem;
    height: fit-content;
    width: fit-content;
    cursor: pointer;
}


.newProjectBtn>button>i {
    cursor: pointer;
    background: green;
    width: 100%;

}

.NewProjectform {
    z-index: 10;
    max-height: 70vh;
    height: fit-content;
    border-radius: 1rem;
    box-shadow: 1px 1px 5px;
    width: 70%;
    margin: auto;
    background-color: black;
    margin-top: 10vh;
    color: white;

}
.NewProjectform > form > .element > textarea{
    width: 99%;
    border: none;
    background-color:white;
    color: black;
    padding: .5rem;
    margin: .5rem;
    border-radius: .5rem;
    resize: none;
    outline: none;
    
}

.NewProjectform > form > .btn > button{
    margin: .6rem;
}


.backgroundBlur {
    display: flex;
    z-index: 10;
    height: 94vh;
    width: 100%;
    position: absolute;
    top: 6vh;
    display: none;
    backdrop-filter: blur(5px);
}

@media screen and (min-width:700px) {
    
    .NewProjectform {
        width: 50%;
    }

}

@media screen and (min-width:900px) {
    .NewProjectform {
        width: 40%;
    }
}
